{% extends "base.html" %}
{% load static %}
{% load companies_tags %}

{% block title %}
  {{ page_title }}
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="/static/css/table-column-resize.css">
{% endblock head %}

{% block content %}


{% if caption %}
  <h1 class="mt-5 text-2xl text-center">{{ caption }}</h1>
{% endif %}


<!-- searchbar -->
{% include "companies/searchbar.html" %}

<div id="create_options_container" class="shadow-lg">
  <div id="merged_tracker_create_options" class="relative rounded-md">
    <button id="merged_tracker_create_options_close" class="block px-4 py-2 mt-2 text-sm font-semibold rounded-lg md:mt-2 delete focus:outline-none focus:shadow-outline">Close</button>
    <a href="{% url create_limited_tracker %}">Create Limited Tracker</a>
    <a href="{% url create_selfassesment_tracker %}">Create Selfassesment Tracker</a>
  </div>
</div>
<!-- represent data -->
<div class="relative mx-auto max-w-min">
  <!-- tasks -->
  {% if counts %}  
    {% if tracker_task_counts %}    
    <div class="task-container">
      <span class="task task-issue" data-tasks="task_has_issue">
        <span id="task-count">{{ task_has_issue }}</span>
        <span class="task-tooltip">Tasks having issue</span>
      </span>
      <span class="task task-previous" data-tasks="previous_incomplete_tasks">
        <span id="task-count">{{ previous_incomplete_tasks }}</span>
        <span class="task-tooltip">Previous remaining tasks</span>
      </span>
      <span class="task task-today" data-tasks="todays_incomplete_tasks">
        <span id="task-count">{{ todays_incomplete_tasks }}</span>
        <span class="task-tooltip">Todays remaining tasks</span>
      </span>
      <span class="task task-upcoming" data-tasks="future_incomplete_tasks">
        <span id="task-count">{{ future_incomplete_tasks }}</span>
        <span class="task-tooltip">Upcoming tasks</span>
      </span>
      <span class="task task-done" data-tasks="new_customers">
        <span id="task-count">{{ new_customers }}</span>
        <span class="task-tooltip">New Customers</span>
      </span>
      <span class="task task-own" data-tasks="my_tasks">
        <span id="task-count">{{ my_tasks }}</span>
        <span class="task-tooltip">My tasks</span>
      </span>
    </div>
    {% endif %}

    <script defer type="module" src="{% static "js/tracker_search.js" %}"></script>
  {% endif %}
  
  <div class="action-container">
    <!-- create -->
    <span class="action action-create">
      <a href="{% url create_url %}" id="merged_tracker_create">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle">
          <circle cx="12" cy="12" r="10"></circle>
          <line x1="12" y1="8" x2="12" y2="16"></line>
          <line x1="8" y1="12" x2="16" y2="12"></line>
        </svg>
      </a>
      <span class="action-tooltip">Create</span>
    </span>
    <!-- refresh -->
    <span class="action action-reload">
      <svg id="i-reload" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
        <path d="M29 16 C29 22 24 29 16 29 8 29 3 22 3 16 3 10 8 3 16 3 21 3 25 6 27 9 M20 10 L27 9 28 2" />
      </svg>
      <span class="action-tooltip">View all</span>
    </span>
    <!-- export -->
    <span class="action action-export">
      <a href="{% url export_name %}">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" fill="white" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 92 92" enable-background="new 0 0 92 92" xml:space="preserve">
          <path id="XMLID_1022_" d="M73,76.5v5c0,2.2-1.9,3.5-4.1,3.5H3.6C1.4,85,0,83.8,0,81.5V32.1c0-2.2,1.4-4.2,3.6-4.2h11.7
            c2.2,0,4,1.8,4,4s-1.8,4-4,4H8V77h57v-0.5c0-2.2,1.8-4,4-4S73,74.3,73,76.5z M90.8,39.2L66,64.5c-1.2,1.2-2.9,1.5-4.4,0.9
            C60,64.7,59,63.3,59,61.6V50.7c-8-0.2-27.2,0.6-34.2,12.9c-0.7,1.3-2.1,2.1-3.5,2.1c-0.3,0-0.7,0-1-0.1c-1.8-0.5-3-2.1-3-3.9
            c0-0.6,0-16.1,11.6-27.6C36.2,26.6,46,22.6,59,21.9V11c0-1.6,1-3.1,2.5-3.7C63.1,6.7,64.8,7,66,8.2l24.9,25.3
            C92.4,35.1,92.4,37.6,90.8,39.2z M82.2,36.3L67,20.9v4.9c0,2.2-1.7,4-4,4c-12.4,0-21.9,3.3-28.4,9.9c-3,3-5,6.3-6.3,9.5
            c9.4-5.6,21.3-6.6,28.6-6.6c3.8,0,6.3,0.3,6.6,0.3c2,0.2,3.5,2,3.5,4v4.9L82.2,36.3z"/>
        </svg>
      </a>
      <span class="action-tooltip">Export</span>
    </span>
  </div>
  <!-- data -->
  {% autoescape off %}
  {{ data_container }}
  {% endautoescape %}
  <span class="absolute top-0 right-0 px-2 py-1 text-xs font-normal text-white bg-indigo-600 sm:text-sm sm:font-normal md:text-base md:font-medium" id="loading-indicator">Loading Data</span>
</div>



  <!-- Export field selection form -->
  {% comment %} This is duplicated in "home.html" template {% endcomment %}
  <div data-export-columns-container data-hide-class="hidden" class="hidden px-4 py-4 w-full h-full fixed inset-0 bg-gray-200/90 dark:bg-gray-600/90 z-[100] flex items-center justify-center">
    <form data-export-form class="export-columns min-w-fit max-w-full max-h-min flex gap-5 flex-col">
      <div class="w-full flex-grow flex-shrink flex gap-5 items-center justify-between">
        <h3 class="w-fit text-2xl font-semibold text-gray-900 dark:text-white">Select columns to export</h3>
        <button data-export-columns-close class="delete px-4 rounded-md py-1">X</button>
      </div>

      <div class="max-w-[90dvw] overflow-x-auto max-h-[70dvh] flex-grow flex-shrink flex gap-4">
        {% for group_name, field_list in export_field_names.items %}
          <div data-field-group class="max-w-fit flex flex-col gap-2 items-center {{group_name}}">
            {# Iterate over the groups in the "export_field_names" context variable #}
            <div class="w-full flex gap-2 items-center">
              <h4 class="flex-grow w-max px-3 py-2 bg-transparent text-gray-700 dark:text-gray-200 text-lg font-bold mt-2 first:mt-0">
                {# Display a human-readable title for the group #}
                {% if group_name == 'common_fields' %}
                  Common Fields
                {% elif group_name|startswith:'unique_' and group_name|endswith:'_fields' %}
                  Unique Fields ({{ group_name|cut:'unique_'|cut:'_fields'|title }})
                {% else %}
                  {{ group_name }}
                {% endif %}
              </h4>
              
              <label class="!flex items-center gap-1 cursor-pointer">
                <input 
                  type="checkbox"
                  name="select_or_deselect_all"
                  class="peer"
                  aria-checked="true"
                  data-field-group-toggle
                />
                <span data-select class="peer-checked:hidden">Select</span><span data-deselect class="hidden peer-checked:inline">Deselect</span>all
              </label>
            </div>

            <ul class="w-full max-h-full overflow-auto text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
              {# Iterate over the fields in the current group list #}
              {% for field in field_list %}
                <li class="w-full border-b border-gray-200 dark:border-gray-600">
                  <div class="flex items-center ps-3">
                    {# Checkbox input: name is "export_fields", value is the field"s "name" (e.g., "client_id","user__first_name") #}
                    <input data-field id="checkbox-{{ field.name|slugify }}" type="checkbox" name="export_fields" value="{{ field.name }}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" 
                      {%if group_name == 'common_fields'%}
                      checked
                      {%endif%}
                    />

                    {# Label for the checkbox: uses the field"s "label" (verbose name) #}
                    <label for="checkbox-{{ field.name|slugify }}" class="w-fit py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                      {{ field.label }}
                      {% if field.is_nested %}
                        <span class="text-xs text-gray-500 dark:text-gray-400">({{ field.foreign_key_model }})</span>
                      {% endif %}
                    </label>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>

      <button data-export-columns-submit type="submit" class="update !mt-0">Export</button>
    </form>
    <script defer type="module" src="{% static 'js/export_column_selection.js' %}"></script>
  </div>


<!-- data template -->
{% autoescape off %}
  {{ selfassesment_tracker_template }}
{% endautoescape %}

{% autoescape off %}
  {{ limited_tracker_template }}
{% endautoescape %}

<!-- data -->
<pre type="application/json" style="display: none;">
  {{ frontend_data|convert_to_JSON }}
</pre>


{% comment %}
{% if not request.GET.hide_iframes %}
<aside data-iframes-container class="hidden z-[100] rounded-md overflow-hidden fixed inset-0 flex flex-col min-w-[100dvw] min-h-[100dvh] bg-gray-400/35 p-5">
  <div class="flex gap-2 px-3 py-2 bg-gray-800">
    <div class="links flex-grow flex flex-wrap items-center gap-2">
      {% for i in "i"|center:25 %}
        <a class="" href="/companies/SAS/create/">Create</a>
      {% endfor %}
    </div>
    <div class="buttons flex flex-wrap gap-2 items-center flex-grow min-w-fit">
      <button class="px-4 py-1 bg-red-600 text-white">X</button>
      <button class="px-4 py-1 bg-red-600 text-white">X</button>
    </div>
  </div>
  <div class="flex-grow flex">
    <!-- <iframe src="/?hide_iframes=T" class="flex-grow"></iframe>
    <iframe src="/?hide_iframes=T" class="flex-grow"></iframe>
    <iframe src="/companies/SAS/create/" class="flex-grow"></iframe> -->
    <iframe src="/companies/SA/create/?hide_iframes=t&hide_navbar=1" class="flex-grow relative"></iframe>
  </div>
</aside>

<script defer type="module" src='{% static "js/floating_iframes.js" %}'></script>
{% endif %}
{% endcomment %}


<script defer type="module" src="{% static "js/merged_tracker.js" %}"></script>
<script defer type="module" src="{% static "js/table_sort.js" %}"></script>
{% endblock content %}


